@use '@/styles/_mixins' as mixins;

.popular-food {
    position: relative;
    background-image: url("@/assets/images/popular-image2.png");
    background-repeat: no-repeat;
    background-position: bottom right;

    @include mixins.mobile {
        background-image: none;
    }

    @include mixins.small-tablet {
        background-image: none;
    }

    @include mixins.tablet {
        background-image: none;
    }

    .home-title {
        text-align: center;
    }
}

.list-foods {
    height: 100vh;
}

.popular-confirm {
    >img {
        @include mixins.position(absolute, unset, unset, 0, 0, 2);
    }

    .confirm-info {
        width: 500px;
        @include mixins.position(absolute, unset, 14%, 12%, unset, 3)
    }

    .h1-logo {
        @include mixins.title-main($primary-color, 36px, 800);
        font-family: 'Norican', cursive;
        line-height: 45px;
    }

    .h1-confirm {
        @include mixins.title-main($secondary-color, 60px, 700);
        margin: 10px 0 40px;
    }

    .btn-order {
        background-color: $primary-color;
        color: $white-color;
        padding: 24px 40px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 12px;

        font: {
            weight: 600;
            size: 14px;
            family: "Arial";
        }

        &:hover {
            background-color: $white-color;
            color: #212121;
        }
    }

    @include mixins.mobile {
        display: none;
    }

    @include mixins.small-tablet {
        display: none;
    }

    @include mixins.tablet {
        display: none;
    }
}

.popular-images {
    @include mixins.flex(center);
    flex-wrap: wrap;

    >div {
        width: 25%;
        height: 254px;
        overflow: hidden;

        >img {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
            transition: all 0.6s linear;
        }

        &:hover {
            img {
                scale: 1.2;
            }
        }

        @include mixins.mobile {
            width: 100%;
        }

        @include mixins.small-tablet {
            width: 50%;
        }
    }

}